@import '../../styles/variables';

.filter {
    background-color: transparent;
    color: $white;
    border-color: transparent;
    cursor: pointer;
    margin: 2rem;
    font-size: 1.8rem;
    height: 4.4rem;

    &--active {
      background-color: transparent;
      color: $white;
      border-color: transparent;
      cursor: pointer;
      margin: 2rem;
      font-size: 1.8rem;
      height: 4.4rem;
      border-bottom: 0.3rem solid $pink;

      &:focus, &:active, &:visited {
        outline: none;
      }

      &:hover {
        color: $pink;
      }
    }

    &:focus, &:active, &:visited {
      outline: none;
    }

    &:hover {
      color: $pink;
    }
}