@import '../../styles/variables';

#search {
    padding: 15rem 0 15rem 30rem;

    &__text {
      width: 60rem;
      height: 6rem;
      background-color: $grey;
      text-size-adjust: auto;
      font-size: 2.4rem;
      text-indent: 1.5rem;
      color: $white;
    }

    &__button {
      margin-left: 1rem;
      width: 20rem;
      height: 6rem;
      font-size: 2.5rem;
      color: $white;
      background-color: $pink;
      border-color: $pink;
      border-radius: 0.5rem;
      cursor: pointer;
    }
}